* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(#3b1566, #5f4da8);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
}

.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info-range {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}


#back , #next {
  font-size: 3rem;
}

#play-pause {
  font-size: 4rem;
  margin: 0 20px 0 20px;
}

#container-buttons {
  width: 100%;
  display: flex;
}

#name-author {
  margin-top: 0.5rem;
}